<ion-content [fullscreen]="true">
  <ion-card class="headerLogo">
    <ion-card-header>
      <ion-title>
        <img src="https://img.icons8.com/plasticine/100/000000/twitter--v2.png"/>
      </ion-title>
    </ion-card-header>
    <ion-card-content style="font-size:25px;color:black">
      Twitter Names
    </ion-card-content>
  </ion-card>
<ion-grid>
  <ion-row>
      <ion-item class="page">
        <ion-input item-start [(ngModel)]="mysearchinput" type="text" placeholder="Search for names"></ion-input>
        <ion-button item-end (click)="searchForName()">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-button>
    </ion-item>
  </ion-row>
</ion-grid>
      <ion-card *ngIf="shownUsers; let item">
        <ion-img [src]="item.profile_image_url"></ion-img>
        <ion-card-header>
          <ion-card-title color="danger">{{item.name}}</ion-card-title>
          <ion-card-subtitle>
            <p style="color: darkorchid;">Twitter created: {{item.created_at}}</p>
            <p>Location: {{item.location}}</p>
            <p>USER ID: {{item.id}}</p>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p style="color:darkcyan">Description:</p> 
          {{ item.description }}
          <p style="color:rgb(58, 46, 163);">"URL: " {{item.url}} "Verified: "{{item.verified}}</p>
        </ion-card-content>
        <ion-button expand="block" [routerLink]="['/info', item.id]">More Info</ion-button>
      </ion-card>
</ion-content>

  


