<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="followers">
        Followers
      </ion-segment-button>
      <ion-segment-button value="following">
        Following
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="userFollowers.length > 0 && type ==='followers'">
      <ion-item *ngFor="let item of userFollowers; let i = index">
        <ion-label>
          <h3>{{i + 1}}. {{item.name}}</h3>
        </ion-label>
      </ion-item>
  </ion-list>

  <ion-list *ngIf="userFollowing.length > 0 && type ==='following'">
      <ion-item *ngFor="let item of userFollowing; let i = index">
        <ion-label>
          <h3>{{i + 1}}. {{item.name}}</h3>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
